.container-fluid {
	max-width: 997px;
	margin: 0 auto;
}
body {
	font-family: "Times new roman", serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", serif;
	color: #202020;
}
/* Initially targets all links, eventually styles only off-site href's */
a {
	color: #cc1f00;
	text-decoration: underline;
}
a:visited {
	color: #cc1f00;
}
a:focus, a:hover {
	text-decoration: none;
	color: #cc1f00;
}
/* Targets all on-site links */
a[href^="/"] {
	color: #000;
	text-decoration: none;
}
@media screen and (min-width: 767px ) {
	h1, h2 {
		margin: 3rem 0 2rem 0;
	}
}
hr {
	border-color: #202020;
}
.cntnt a:after {
	font-family: FontAwesome;
	font-size: 0.6em;
	content: "  \00a0 \f054"; /**/
	vertical-align: middle;
}
.post-header h1 {
	letter-spacing: initial;
}
.custom-btn {
	font-size: 1.6em;
	border: none;
	background: #202020;
	font-family: "Times New Roman", serif;
	padding: 0.1em 0.2em 0.1em 0.2em;
	width: 100%;
	border-radius: 0;
}
.custom-btn:hover {
	background: linear-gradient(#fbfbfb, #f7f7f7);
	outline: 1px solid #000;
	color: #202020;
}
.custom-btn  {
	color: #f0f0f0;
	font-style: italic;
}
.home-link {
	font-size: 1.8em;
	font-style: italic;
	line-height: 33px;
	vertical-align:;
}
@media screen and (max-width: 767px) {
	.mobile-header {
		padding: 0.3em;
	}
	nav a {
		display: block;
		padding: 0.1em 0 0.2em 0;
		font-size: 1.2em;
		letter-spacing: 1.5px
	}
	.mobile-toggle a:before, .mobile-toggle a:after {
		content: ;
	}
}
.mobile-toggle {
	display: none;
	clear: both;
	margin-bottom: 5px;
	padding: 1em;
	position: relative;
	z-index: 99;
}
.btn-cnt div:first-child { /* Targets nested col's*/
	padding: 0.1em 0.1em 0.1em 0;
}
.btn-cnt div:last-child { /* Targets nested col's*/
	padding: 0.1em 0 0.1em 0.1em;
}
.site-bar .site-title {
	margin: 0 auto;
	padding-left: 15px;
}
@media all and (max-width: 767px) {
	.site-nav {
		position: relative;
		top: 9.5px;
		padding: 0;
		background-color: transparent;
	}
	.menu-icon svg {
		height: 33px;
		padding: 3px;
	}
	path {
		fill: #202020;
	}
}
.site-header {
	border: none;
}
.site-header, .mobile-header {
	padding-top: 1em;
}
.main-block {
	margin-top: 20px;
	margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
	.main-block {
		margin-top: 0;
	}
}
.main-block p {
	font-size: 2.5rem;
	line-height: 30px;
	letter-spacing: -0.5px;
}
.main-header {
	letter-spacing: -1px;
	font-weight: 500;
	font-size: 55px;
	margin-bottom: 3rem;
}
.start-btns {
	padding-bottom: 1rem;
}
.nav-link {
	font-weight: 600;
}
.index li a {
	font-style: normal;
}
@media screen and (min-width: 767px) {
	.index li a:hover {
		background-color: #202020;
		color: white;
	}
}
@media all and (max-width: 767px) {
	ul{
		padding-left: 30px;
	}
	.pages {
		padding-left: 0px;
	}
}
img {
	width: 65%;
}

/* contact form */
.cstm-frm-cntrl {
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #ccc;
	display: table-cell;
	border-radius: 0;
}
