{% capture search_url %}/{% endcapture %}
{% assign url_parts = page.url | remove_first: 'index.html' | split: '/' %}
{% for url_part in url_parts offset:1 %}
  {% capture search_url %}{{ search_url }}{{ url_part }}/{% endcapture %}
  {% for subpage in site.pages %}
    {% if subpage.url == search_url %}
      {% if subpage.url == page.url %}
        {{ page.title }}
     {% else %}
        <a href="{{ subpage.url | remove_first: 'index.html' }}">{{ subpage.title }}</a> /
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
