
<!-- Nästan. Bäst hittills men missar sista steget. 
(Kanske bara biter på index.html renderade sidor och inte på index.md ?) -->

<!--
{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}
<ol>
 {% if num_parts >= "0" %}
  <li><a href="/">Home</a> &nbsp; </li>

  {% for unused in page.content limit:num_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li><a href="{{previous}}">{{ first_word }}</a> &#187; </li>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
</ol>
-->

<!-- splitted_url_parts blir fel så funkar inte

<ol class="breadcrumb">
<li><a href="{{ site.baseurl }}/">Home</a></li>
{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}

<p>debug:</p>
<p>{{ page.url }}</p>
<p> {{page_url_without_index_html }}</p>
<p> {{ splitted_url_parts }}</p>

{% for i in (1..forLoopMaxInt) %}
    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
    {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
    {% for breadcrumb_page in site.pages %}
        {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
        {% assign j = forLoopMaxInt | plus: 0 %}
            <li {% if i == j %}class="active"{% endif %}>
                {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ol>
-->


<!-- Missar lite. Visar endast första och nuvarande plats...

<ol class="pull-right breadcrumb">
    <li><a href="/">Home</a></li>
    {% assign crumbs = page.url | split: '/' %}
    {% assign crumbs_total = crumbs | size | minus: 1 %}
    {% for crumb in crumbs offset: 1 %}
        {% if forloop.index == crumbs_total %}
            <li class="active"><a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></li>
        {% else %}
            {% assign crumb_limit = forloop.index | plus: 1 %}
            {% capture crumb_url %}{% for c in crumbs limit: crumb_limit %}{{ c | append: '/' }}{% endfor %}{% endcapture %}
            {% capture crumb_with_index %}{{ crumb_url | append: 'index.html' }}{% endcapture %}
            {% capture current_page %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
            {% for p in site.pages %}
                {% if crumb_with_index != current_page and crumb_with_index == p.url %}
                    <li><a href="{{ crumb_with_index }}">{{ crumb | replace:'-',' ' | capitalize}}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ol>
-->